
.parent-calc {
    font-size: 24px;
    margin: auto;
}

.grid-calc {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 100px repeat(5, 60px);
    border: 1px solid gray;
    grid-template-areas: "a a a a"
                         "b b c d"
                         "e f g h"
                         "i j k l"
                         "m n o p"
                         "s s t p";
}

.grid-calc > div {
    border: 1px solid black;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}

.result-calc {
    background-color:dimgray;
    color: yellow;
}

.ac-calc {
    background-color: lightsalmon;
    color: yellow;
    font-weight: bold;
}

.numbers-calc {
    background-color: lightsteelblue;
    color: yellow;
    font-weight: bold;
}

.equal-calc {
    background-color: salmon;
    color: yellow;
    font-weight: bold;
}

.operators-calc {
    background-color:steelblue;
    color: yellow;
    font-weight: bold;
}